@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.span-logo {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  margin-right: 10px;
  padding-left: 120px;
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 120px;
}

.menu-item {
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  color: #333;
  cursor: pointer;
}

.menu-item:hover {
  color: #CA8A04;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    padding-right: 0;
    padding-top: 10px;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navbar-menu.open {
    display: flex;
  }

  .menu-item {
    margin: 10px 0;
    text-align: center;
  }

  .hamburger {
    display: block;
    margin-right: 20px;
  }

  .logo-image {
    padding-left: 0;
  }
}
